:root {
  --primary-text-color:rgb(57, 57, 57); /* global scope */
  --primary-bg-color:rgb(190, 190, 190); /* global scope */
  --secondary-bg-color:rgb(143, 143, 143); /* global scope */
}


* {
  box-sizing: border-box;
}


/* C O N T A I N E R Y */

body {
    margin: 0;
    padding: 0;
    background-image: url("/tysa/img/strahov.jpg");
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position:center;
    overflow: hidden;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* CALC!!!! */

body::after {
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background-color: var(--primary-bg-color);
    opacity: 1;
    mix-blend-mode: lighten;
    z-index: -1;
    filter: blur(calc(6vw + 5rem));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100;
    margin: calc(1rem + 2vw);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(10vh + 2rem);
    justify-content: center;
}


/* H E A D E R Y */

h1 {
    color: var(--primary-text-color);
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: .7rem;
    font-family: 'Cormorant Garamond', serif;
    margin: 0 0 0 .7rem;
}

h2 {
    color: var(--primary-text-color);
    font-size: 1.7rem;
    letter-spacing: 1.7rem;
    font-family: 'Cormorant Garamond', serif;
    margin: .5rem 0 1.9rem 1.7rem;
    align-self: center;
}


/* E L E M E N T Y */
   
nav a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: all 0.1s ease-in-out;

}

nav a:hover {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 100;
    opacity: 0.9;
}

nav a:active {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 800;
    opacity: 0.8;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links nav {
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;

}

#socials nav {
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    text-align: center;
}

#socials nav img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    filter: contrast(0.4);
    transition: all 0.2s ease-in-out;
}

#socials nav img:hover {
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    opacity: 0.6;
}

#socials nav img:active {
    object-fit: cover;
    transition: all 0.1s ease-in-out;
    opacity: 0.4;
}